<%- include("header.ejs") %>
   <nav class="navbar navbar-expand-lg">
      <span class="logo"><img src="/asset/image/SuvidhaLogo.png" alt=""></span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li><a class="nav-link active" href="#">Home</a></li>
            <li><a href="">Apply for Internship</a></li>
            <li><a href="">Events</a></li>
            <li><a href="">Gallery</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Help Now</a></li>
         </ul>
         <span class="user"><i class="fa-solid fa-user" style="color: #ffffff;"></i></span>
      </div>

   </nav>






   <!-- include footer section -->
   <%- include("footer.ejs") %>